* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #6895d2;
}

.container {
  width: 90%;
  max-width: 500px;
  background: #d04848;
  text-align: center;
  padding: 40px 0;
  margin: 200px auto;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.container h1 {
  font-size: 40px;
  color: #fff;
}

.buttons {
  margin-top: 30px;
}

.buttons img {
  margin: 5px;
  filter: drop-shadow(0 1px 1px #7f5c09);
  cursor: pointer;
}
